<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Logan Litman: Chat Application</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue"></script> 
</head>
<body>
	<main id="app">	
		<section class="form-container">

			<h1>Welcome to my chat application!</h1><br>
			<p>Here, you will be able to talk with your friends 
				using my javascript and html coding.
				<br>
				Simply send this link to your friend, and you guys will be connected
				to the same chatroom! Enjoy & have some thrilling conversations.
			</p>
			<br>

			<label for="nickname">Your Name: <p>Optional</p></label>
			<input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="What is your nickname?">
			
			<form>
				<label for="message">Your Message:</label>
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea"></textarea>
				<input type="submit" @click.prevent="dispatchMessage">
			</form>
		</section>
		
		<section class="messages">
			<ul id="messages" v-for="message in messages">
				<newmessage :msg="message"></newmessage>				
			</ul>
		</section>		
	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="/js/main_vm.js"></script>
</body>
</html>